<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Dhwaniris</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/states">All States</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/states/new">Add New State</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/districts">All Districts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/districts/new">Add New District</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/children">Children</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/children/new">Add New children</a>
        </li>
      </ul> 
          <ul class="navbar-nav">
            <% if(!currentUser) { %>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <% } else { %> 
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
             <% } %> 
          </ul>
    </div>
  </div>
</nav>

